@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Monoton&family=Nova+Mono&family=Permanent+Marker&family=Rubik+Mono+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Gemunu Libre', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: #1B1E2B;
}

.section-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(255, 77, 0, 0.8);
  position: absolute;
  top: -115vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  -webkit-animation: rotate 30s infinite;
          animation: rotate 30s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 77, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  -webkit-animation: rotate 40s infinite;
          animation: rotate 40s infinite;
}

.floating-bg::after {
  content: "";
  width: 102%;
  height: 102%;
  background-color: rgba(255, 77, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  -webkit-animation: rotate 40s infinite;
          animation: rotate 40s infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 20;
  top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 900;
  color: #1B1E2B;
  letter-spacing: 0.2rem;
  width: 1.5rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.navbar-link:hover {
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.section-1-heading {
  font-size: 8rem;
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  top: 18vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  text-shadow: 0.3rem 0.3rem 0.3rem #333;
  width: 85rem;
  text-align: center;
}

.logo {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
}

.logo i {
  font-size: 15rem;
  text-shadow: 0 0.3rem 0.3rem #1B1E2B;
}

.section-2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-heading {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
  text-shadow: 2rem 2rem 4rem #000;
}

.customers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.customer {
  width: 35rem;
  height: 50rem;
  background-color: #292D3E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-shadow: 1rem 1rem 2rem #12151d, -1rem -1rem 2rem #12151d;
          box-shadow: 1rem 1rem 2rem #12151d, -1rem -1rem 2rem #12151d;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, -webkit-box-shadow 0.5s;
}

.customer:hover {
  -webkit-box-shadow: 2rem 2rem 3rem #12151d, -2rem -2rem 3rem #12151d;
          box-shadow: 2rem 2rem 3rem #12151d, -2rem -2rem 3rem #12151d;
  background-color: #222;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s;
  transition: box-shadow 0.5s, background-color 0.5s, -webkit-box-shadow 0.5s;
}

.customer:first-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.customer:last-child {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #FF4D00;
}

.customer-text {
  font-size: 1.8rem;
  margin: 2.5rem;
}

.customer-text::first-letter {
  margin-left: 1rem;
}

.customer-rating {
  font-size: 2rem;
  color: #FF4D00;
}

.customer-img {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.customer-name {
  font-size: 2rem;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */