// Common Styles
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Monoton&family=Nova+Mono&family=Permanent+Marker&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Gemunu Libre', sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    // overflow: hidden;
    color: white;
    background-color: #1B1E2B;
}

.section-heading {
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.8;
    text-shadow: 2rem 2rem 4rem #000;
}

// Common Styles

//section - 1

.section-1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.floating-bg {
    width: 150vw;
    height: 150vw;
    background-color: rgba($color: #FF4D00, $alpha: 0.8);
    position: absolute;
    top: -115vw;
    left: calc(50% - 75vw);
    border-radius: 45%;
    animation: rotate 30s infinite;
}

.floating-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($color: #FF4D00, $alpha: 0.4);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotate 40s infinite;
}

.floating-bg::after {
    content: "";
    width: 102%;
    height: 102%;
    background-color: rgba($color: #FF4D00, $alpha: 0.1);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40%;
    animation: rotate 40s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.navbar {
    position: relative;
    z-index: 20;
    top: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.navbar-link {
    font-size: 2.2rem;
    font-weight: 900;
    color: #1B1E2B;
    letter-spacing: 0.2rem;
    width: 1.5rem;
    transition: color 0.5s;
}

.navbar-link:hover {
    color: white;
    transition: color 0.5s;
}

.section-1-heading {
    font-size: 8rem;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    top: 18vw;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0.3rem 0.3rem 0.3rem #333;
    width: 85rem;
    text-align: center;
}

.pulse {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    right: 50%;
}

.pulse i {
    font-size: 20rem;
    text-shadow: 0 0.3rem 0.3rem #1B1E2B;
}


//section - 1


//section - 2
.section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.customers-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.customer {
    width: 35rem;
    height: 50rem;
    background-color: #292D3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 2rem #12151d, -1rem -1rem 2rem #12151d;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.customer:hover {
    box-shadow: 2rem 2rem 3rem #12151d, -2rem -2rem 3rem #12151d;
    background-color: #222;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.customer:first-child {
    align-self: flex-end;
}

.customer:last-child {
    align-self: flex-start;
}

.fa-quote-left {
    font-size: 4rem;
    color: #FF4D00;
}

.customer-text {
    font-size: 1.8rem;
    margin: 2.5rem;
}

.customer-text::first-letter {
    margin-left: 1rem;
}

.customer-rating {
    font-size: 2rem;
    color: #FF4D00;
}

.customer-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 2rem 0;
    border-radius: 50%;
}

.customer-name {
    font-size: 2rem;
    font-weight: 700;
}

//section - 2

//section - 3

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5rem 0;
}

.team-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
}

.team-member {
    width: 35rem;
    background-color: #292D3E;
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem #12151d, -1rem -1rem 2rem #12151d;
    position: relative;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.team-member:hover {
    box-shadow: 2rem 2rem 3rem #12151d, -2rem -2rem 3rem #12151d;
    background-color: #222;
    transition: box-shadow 0.5s, background-color 0.5s;
}

.team-member:first-child {
    align-self: flex-start;
}

.team-member:last-child {
    align-self: flex-end;
}

.team-member-img {
    width: 100%;
    border-radius: 0.5rem;
}

.team-member-name {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FF4D00;
    margin-top: 2rem;
    text-align: center;
}

.team-member-name span {
    font-size: 1.5rem;
}

.team-member-skills {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}

.team-member-skills li {
    font-size: 1.5rem;
    color: white;
}

.projects-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4D00;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.story-btn {
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    top: -1rem;
    right: -1rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 50;
    transition: transform 0.5s;
}

.story-btn.change {
    transform: rotate(450deg);
}

.story-btn-line {
    width: 100%;
    height: 0.1rem;
    background-color: #1B1E2B;
}

.story {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #FF4D00, $alpha: 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transform: scale(0);
    transform-origin: top right;
    border-radius: 50rem 0 50rem 50rem;
    transition: all 0.5s;
}

.story.change {
    transform: scale(1);
    border-radius: 0;
}

.story-heading {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #1B1E2B;
}

.story-paragraph {
    font-size: 1.8rem;
    color: #1B1E2B;
    letter-spacing: 0.1rem;
    text-indent: 2rem;
}

//section - 3

//section - 4
.section-4 {
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-container {
    width: 80%;
    height: 40;
    background-color: #292D3E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0.3rem 0.3rem 0.4rem #12151d, -0.3rem -0.3rem 0.4rem #12151d;
    border-radius: 0.5rem;
}

.form-img {
    width: 55rem;
    padding: 5rem;
    opacity: 0.8;
}

.contact-form {
    width: 40rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 2rem;
}

.contact-form textarea {
    max-height: 15rem;
    min-height: 10rem;
    max-width: 100%;
    min-width: 70%;
}

.contact-form input[type="submit"] {
    background-color: #FF4D00;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
    background-color: #ff2600;
    transition: background-color 0.5s;
}

.copyright {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 5rem;
}

//section - 4

.scroll-up-btn {
    width: 5rem;
    height: 5rem;
    background-color: #FF4D00;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    font-size: 1.6rem;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;
}

.scroll-up-btn:hover {
    background-color: #ff2600;
}

// RWD
@media (max-width: 1400px) {
    .floating-bg {
        top: -120vw;
    }

    .section-1-heading {
        width: 85rem;
        font-size: 6rem;
    }

    .navbar-link {
        font-size: 2rem;
    }

    .section-heading {
        margin-bottom: 10rem;
    }

    .section-2 {
        height: auto;
    }

    .customers-wrapper {
        flex-wrap: wrap;
    }

    .customer {
        margin: 5rem 10rem;
    }

    .section-3 {
        height: auto;
    }

    .section-4 {
        height: auto;
    }

    .team-wrapper {
        flex-wrap: wrap;
    }

    .team-member {
        margin: 5rem 10rem;
    }

    .form-container {
        height: 40%;
    }

    .form-img {
        width: 40rem;
    }
}

@media (max-width: 1150px) {
    .floating-bg {
        top: -110vw;
    }
}

@media (max-width: 950px) {
    .floating-bg {
        top: -100vw;
    }

    .form-img {
        width: 35rem;
    }

    .section-1-heading {
        top: 25vw;
    }

    .navbar {
        justify-content: space-around;
    }
}

@media (max-width: 800px) {
    .form-container {
        justify-content: center;
    }

    .form-img {
        display: none;
    }
}

@media (max-width: 750px) {
    .section-1-heading {
        width: 50rem;
        font-size: 5rem;
    }

    .section-heading {
        font-size: 6rem;
        margin-bottom: 5rem;
    }

    .floating-bg {
        top: -90vw;
    }

    .copyright {
        font-size: 1.5rem;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 50%;
    }

    .floating-bg {
        top: -70vw;
    }

    .section-1-heading {
        width: 40rem;
        font-size: 4rem;
        top: 35vw;
    }

    .customer {
        margin: 5rem 0;
    }

    .team-member {
        margin: 5rem 0;
    }

    .section-heading {
        margin-bottom: 2rem;
    }

    .form-container {
        background-color: transparent;
        box-shadow: none;
    }
}

// RWD